.background-color {
    color: #f4f6fa; /* Replace this value with the hex code of your desired color */
}

.foreground-color{
    color: #faf8f5;
} 

.card {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.card-body {
    border: none;
    border-radius: 0rem;
}
