@model Vehicle_Management.Models.HomeModel
@{
    ViewData["Title"] = "EditVehicle";
}

@if (User.IsInRole("Admin"))
{
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1>Update Vehicle Details</h1>
				<form asp-controller="Home" asp-action="EditVehicle" method="post">
					<input asp-for="Id" type="hidden" class="form-control" placeholder="@Model.Id" name="Id">
					<div class="form-group pb-3">
						<label asp-for="RegistrationNumber">Registration Number</label>
						<input asp-for="RegistrationNumber" type="text" class="form-control" placeholder=@Model.RegistrationNumber name="RegistrationNumber">
						<span asp-validation-for="RegistrationNumber" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="ManufactureCompany">Manufacture Company</label>
						<input asp-for="ManufactureCompany" type="text" class="form-control" id="manufacture-company" placeholder=@Model.ManufactureCompany name="ManufactureCompany">
						<span asp-validation-for="ManufactureCompany" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="VehicleModel">Vehicle Model</label>
						<input asp-for="VehicleModel" type="text" class="form-control" id="vehicle-model" placeholder=@Model.VehicleModel name="VehicleModel">
						<span asp-validation-for="VehicleModel" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="EngineCapacity">Engine Capacity(cc)</label>
						<input asp-for="EngineCapacity" type="number" class="form-control" id="engine-capacity" placeholder=@Model.EngineCapacity name="EngineCapacity">
						<span asp-validation-for="EngineCapacity" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="ManufacturedYear">Manufactured Year</label>
						<input asp-for="ManufacturedYear" type="number" class="form-control" id="manufactured-year" placeholder=@Model.ManufacturedYear name="ManufacturedYear">
						<span asp-validation-for="ManufacturedYear" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="PurchasedOn">Purchased On</label>
						<input asp-for="PurchasedOn" type="date" class="form-control" id="purchased-on" placeholder=@Model.PurchasedOn.ToString("MM-dd-YYYY") name="PurchasedOn" value="2000-01-15">
						<span asp-validation-for="PurchasedOn" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="Color">Color</label>
						<input asp-for="Color" type="text" class="form-control" id="color" placeholder=@Model.Color name="Color">
						<span asp-validation-for="Color" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="EngineNumber">Engine Number</label>
						<input asp-for="EngineNumber" type="text" class="form-control" id="engine-number" placeholder=@Model.EngineNumber name="EngineNumber">
						<span asp-validation-for="EngineNumber" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="ChasisNumber">Chasis Number</label>
						<input asp-for="ChasisNumber" type="text" class="form-control" id="chasis-number" placeholder=@Model.ChasisNumber name="ChasisNumber">
						<span asp-validation-for="ChasisNumber" class="text-danger"></span>
					</div>
					<div class="form-group pb-3">
						<label asp-for="PassengerCapacity">Passenger Capacity</label>
						<input asp-for="PassengerCapacity" type="number" class="form-control" id="passenger-capacity" placeholder=@Model.PassengerCapacity name="PassengerCapacity">
						<span asp-validation-for="PassengerCapacity" class="text-danger"></span>
					</div>
					<div class="form-group pb-4">
						<label asp-for="Fuel">Fuel</label>
						<select asp-for="Fuel" class="form-control" id="fuel" placeholder=@Model.Fuel name="Fuel">
							<option value="Diesel">Diesel</option>
							<option value="Petrol">Petrol</option>
						</select>
						<span asp-validation-for="Fuel" class="text-danger"></span>
					</div>
					<input asp-for="IsAvailable" type="hidden" class="form-control" id="passenger-capacity" placeholder=@Model.IsAvailable name="IsAvailable">
					<button type="submit" class="btn btn-primary">Update</button>
				</form>
			</div>
		</div>
	</div>
}
else
{
	<h1>Access Denied</h1>
}

