@inject UserManager<ApplicationUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    if (user != null)
    {
        var name = user.Name;
        // use the name variable in your HTML
    }
}
<div class="hero-wrap ftco-degree-bg" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Welcome @user.Name</h1>
                    <p style="font-size: 18px;">Request Vehicles Easily</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="#" class="request-form bg-primary">
                            <h2>Make your trip</h2>
                            <div class="form-group">
                                <label for="" class="label">Pick-up location</label>
                                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Drop-off location</label>
                                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label for="" class="label">Pick-up Landmark</label>
                                    <input type="text" class="form-control" id="book_pick_date" placeholder="Tower, Mall, etc">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Drop-off Landmark</label>
                                    <input type="text" class="form-control" id="book_off_date" placeholder="Tower, Mall, etc">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="label">Pick-up Date</label>
                                <input type="date" class="form-control" id="time_pick" placeholder="Date">
                            </div>
                            <div class="form-group">
                                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-secondary py-3 px-4">Request A Vehicle Now</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Request Vehicles</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-geo-alt-fill"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-car-front-fill"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Request Vehicles</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-shield-fill-check"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Wait for Admin Approval</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary py-3 px-4">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
