@model Vehicle_Management.Models.UserRequest
@inject UserManager<ApplicationUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
}
<div class="hero-wrap ftco-degree-bg" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Welcome @user.Name</h1>
                    <p style="font-size: 18px;">Request Vehicles Easily</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form class="request-form bg-primary" asp-controller="User" asp-action="Home" method="post">
                            <h2>Make your trip</h2>
                            <div class="form-group">
                                <label asp-for="PickupPoint" class="label">Pick-up location</label>
                                <input asp-for="PickupPoint" type="text" class="form-control" placeholder="City, Airport, Station, etc" required>
                            </div>
                            <div class="form-group">
                                <label asp-for="DropPoint" class="label">Drop-off location</label>
                                <input asp-for="DropPoint" type="text" class="form-control" placeholder="City, Airport, Station, etc" required>
                            </div>
                            <div class="d-flex">
                                <div class="form-group mr-2">
                                    <label asp-for="PickupPointLandmark" class="label">Pick-up Landmark</label>
                                    <input asp-for="PickupPointLandmark" type="text" class="form-control" id="book_pick_date" placeholder="Tower, Mall, etc" required>
                                </div>
                                <div class="form-group ml-2">
                                    <label asp-for="DropPointLandmark" class="label">Drop-off Landmark</label>
                                    <input asp-for="DropPointLandmark" type="text" class="form-control" id="book_off_date" placeholder="Tower, Mall, etc" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="RequestedDate" class="label">Pick-up Date</label>
                                <input asp-for="RequestedDate" type="date" class="form-control" id="time_pick" placeholder="Date" required>
                            </div>
                            <div class="form-group">
                                <label asp-for="Message" class="label">Message</label>
                                <textarea asp-for="Message" class="form-control" id="message" name="message" rows="2" cols="30" placeholder="Your Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary py-3 px-4">Request A Vehicle Now</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right w-100">
                            <h3 class="heading-section mb-4">Request Vehicles</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-geo-alt-fill"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-car-front-fill"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Request Vehicles</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="bi bi-shield-fill-check"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Wait for Admin Approval</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Request Vehicle</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
