@page
@model RegisterModel

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
  
<body class="bg-danger">
    @if (User.IsInRole("Admin"))
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                        </div>
                                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <div class="form-group">
                                                    <input type="text" asp-for="Input.Name" class="form-control form-control-user" placeholder="Full Name" required>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control select-custom" asp-for="Input.Role" required>
                                                    <option value="User">Normal User</option>
                                                    <option value="Admin">Admin User</option>
                                                    <option value="Driver">Driver User</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" asp-for="Input.Email" class="form-control form-control-user" placeholder="Email Address" required>
                                            </div>
                                            <div class="form-group password-input-group">
                                                <input type="password" asp-for="Input.Password" class="form-control form-control-user" id="password" placeholder="Password" required>
                                                <button class="btn toggle-password" type="button" id="togglePassword">
                                                    <i class="bi bi-eye" title="Show/Hide Password"></i>
                                                </button>
                                            </div>
                                            <div class="form-group password-input-group">
                                                <input type="password" asp-for="Input.ConfirmPassword" class="form-control form-control-user" id="repeat-password" placeholder="Repeat Password" required>
                                                <button class="btn toggle-password" type="button" id="toggleRepeatPassword">
                                                    <i class="bi bi-eye" title="Show/Hide Password"></i>
                                                </button>
                                            </div>
                                            <button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">Register</button>
                                            <hr>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 class="text-primary">Access Denied</h1>
    }


</body>

</html>

<script>
    // Function to toggle password visibility

    //For Password
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);

        togglePassword.querySelector('i').classList.toggle('bi-eye');
        togglePassword.querySelector('i').classList.toggle('bi-eye-slash');
    });

    //For Repeat Password
    const toggleRepeatPassword = document.getElementById('toggleRepeatPassword');
    const repeatPasswordInput = document.getElementById('repeat-password');

    toggleRepeatPassword.addEventListener('click', function () {
        const type = repeatPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        repeatPasswordInput.setAttribute('type', type);

        toggleRepeatPassword.querySelector('i').classList.toggle('bi-eye');
        toggleRepeatPassword.querySelector('i').classList.toggle('bi-eye-slash');
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>


<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}